<div class="container">
<h2>Select Team</h2>

@if (teams) {
  <ul>
    @for (team of teams; track team._id) {
      <li>
        <button (click)="toggleSelection(team)" class="team-select">
          {{ team.teamName }}
          @if (team.selected) {
            <span class="check-mark">✓</span>
          }
        </button>
      </li>
    }
  </ul>
  <button (click)="proceed()" [disabled]="!isTeamSelected()" class="hunter-proceed-button">Proceed</button>
} @else {
  <div class="flex-1 hunt-error">
    <mat-error>
      There was a problem loading the teams. Please try again later.
    </mat-error>
  </div>
}
</div>
