<div class="flex-row">
  <div class="flex-1">
    <mat-card class="background">
      @if (startedHunt && startedHunt.status === false) {
      <mat-card class="top-name-card">
        <mat-card-title class="hunt-name">{{ this.startedHunt.completeHunt.hunt.name }}</mat-card-title>
        <mat-card-subtitle class="end-date">Ended on: {{ this.startedHunt.endDate | date: 'medium'
          }}</mat-card-subtitle>
   </mat-card>
   <mat-card-title class="tasks-title">Tasks and Photos</mat-card-title>
   <div class="task-photos-container">
     <div *ngFor="let task of this.startedHunt.completeHunt.tasks">
       <mat-card-title class="task-list-name"> {{ task.name }} </mat-card-title>
       <div class="finishedTask-photos">
         <div *ngFor="let submission of taskSubmissions[task._id]">
           <div class="team-name"> {{ submission.teamName }} </div>
           <img [src]="submission.photo" alt="Task Photo" class="task-photo" (click)="openDialog(submission.photo, task.photos)"
             (keyup.enter)="openDialog(submission.photo, task.photos)" tabindex="0">
         </div>
       </div>
     </div>
   </div>
      <button color=primary mat-raised-button class="hunts-return-button" routerLink="/hosts">Back to Hunts</button>
      } @else if (error) {
      <mat-card class="error-card">
        <mat-card-content>
          <h2>
            {{ error.help }}
          </h2>
          <p>
            {{ error.message }}
          </p>
          <p>
            {{ error.httpResponse }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button color=primary mat-raised-button routerLink="/hunts">Back to Hunts</button>
        </mat-card-actions>
      </mat-card>
      } @else {
      <mat-card>
        <mat-card-content>
          <p>Loading Hunt Profile data...</p>
        </mat-card-content>
      </mat-card>
      }
    </mat-card>
  </div>
</div>
